<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("Boats", root_path, class: "navbar-brand") %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to("List of boats", boats_path, class: "navbar-brand") %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("Log in", new_user_session_path, class: "navbar-brand") %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
