<%= bootstrap_form_for(@boat) do |f| %>

  <%= f.alert_message "Please review the problems below:" %>

  <%= f.text_field :name %>
  <%= f.text_area :description, rows: 5 %>

  <%= f.primary %>
  <%= link_to "Back", boats_path, class: "btn btn-link" %>

<% end %>
