<% provide(:title, "Listing boats") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td><%= boat.name %></td>
        <td><%= boat.description %></td>
        <td>
          <div class="btn-group">
            <%= link_to boat, class: "btn btn-xs btn-default" do %>
              <%= fa_icon("eye", text: "Show") %>
            <% end %>
            <%= link_to edit_boat_path(boat), class: "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", text: "Edit") %>
            <% end %>
            <%= link_to boat, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this boat?" } do %>
              <%= fa_icon("trash-o", text: "Destroy") %>
            <% end %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_boat_path, class: "btn btn-default" do %>
  <%= fa_icon("plus", text: "New Boat") %>
<% end %>
