<% provide(:title) do %>
  Boat #<%= @boat.id %>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-2">Name</th>
      <td><%= @boat.name %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Description</th>
      <td><%= @boat.description %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Edit", edit_boat_path(@boat), class: "btn btn-primary" %>
  <%= link_to "Back", boats_path, class: "btn btn-link" %>
</p>
